main{
    h1{
        margin: 20px;
    }
    .contacto{
        display: flex;
        justify-content: space-between;
        .formulario{
            width: 70%;
            display: flex;
            flex-direction: column;
            margin: 20px;
            h2{
                align-self: flex-start;
                margin: 10px 0px;
            }
            p{
                font-weight: 300;
                font-size: 16px;
                color: $color-texto-default;
                width: 600px;
            }
            form{
                width: 600px;
                div{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    label{
                        font-weight: 300;
                        font-size: 16px;
                        color: $color-texto-default;
                        margin-bottom: 5px;
                    }
                    .button{
                        font-weight: 600;
                        font-size: 14px;
                        background-color: $color-secundario;
                        color: $color-texto-contraste;
                        border-radius: 6px;
                        border: 0px;
                        padding: 6px;
                        width: 140px;
                        transition-duration: 0.5s;
                        &:hover{
                        background-color: $color-principal;
                        }
                    }
                }
            }
        }
        .imagen{
            width: 29%;
            margin-right: 20px;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}