.institucional{
    section{
        background-color: $color-principal;
        @extend %flex-wrap;
        flex-direction: column;
        justify-content: center;
        margin-top: 3px;
        h1{
            color: $color-texto-contraste;
            font-weight: 800;
            font-size: 40px;
            padding: 50px 0px 30px 0px;
            margin: 0;
            text-align: center;
        }
        h2{
            color:$color-texto-contraste;
        }
        p{
            font-weight: 300;
            font-size: 16px;
            color: $color-texto-contraste;
            padding: 16px 30px;
            text-align: center;
            margin: 0;
        }
    }
    h2{
        margin: 20px;
    }
    .mesaejecutiva-grid{
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        grid-template-rows: repeat(3, 280px);
        gap: 20px;
        div{
            grid-column:span 1;
            grid-row: span 1;
            justify-self: center;
            border: 0px;
            background-color: $color-principal;
            border-radius: 15px;
            width: 320px;
            height: 280px;
            position: relative;
            transition-duration: 1s;
            transition-timing-function: ease-in;
            &:hover{
                transform: scale(1.1);
                -webkit-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
            }
            img{
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }
            div{
                h3{
                    font-weight: 800;
                    font-size: 16px;
                    color: $color-texto-contraste;
                }
                p{
                    font-weight: 400;
                    font-size: 12px;
                    color: $color-texto-contraste;
                    margin-bottom: 8px;
                }
                padding:10px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $color-principal;
                opacity: 0.8;
                width: 100%;
                height: 74px;
                margin: 0;
                border-radius: 0px 0px 15px 15px ;
            }
        }
        .card-invisible{
            grid-column:span 1;
            grid-row: span 1;
            border: 0px;
            visibility: hidden
        }
    }
    div{
        .ateneos{
            @extend %flex-wrap;
            button{
                font-weight: 600;
                font-size: 14px;
                background-color: $color-secundario;
                color: $color-texto-contraste;
                border-radius: 6px;
                border: 0px;
                padding: 6px;
                width: 140px;
                margin: 10px;
                transition-duration: 0.5s;
                &:hover{
                    background-color: $color-principal;
                }
            }
        }
    }
    .entidades{
        background-color: $color-secundario;
        border-radius: 15px;
        margin: 20px;
        padding: 20px 0px;
        -webkit-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
        h2{
            color: $color-texto-contraste;
            margin-bottom: 30px;
            text-align: center;
        }
        div{
            @extend %flex-wrap;
            justify-content: center;
            margin: 10px;
            a{
                text-decoration: none;
                h3{
                    font-size: 16px;
                    font-weight: 600;
                    color: $color-texto-contraste;
                    margin: 20px;
                    transition-timing-function: ease-in;
                    transition-duration: 1s;
                    &:hover{
                    transform: scale(1.1);
                    color: $color-principal;
                    -webkit-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
                    }
                }
            }
        }
    }
}